.wrapper
  .main-header
    .main-center
  .main-c
    .Lineup_view
    .LineupSection__header  
      .LineupSection
        %span Food
    .bx-wrapper
      .bx-viewport
        .bxslider
          .bx-clone
            = image_tag "福岡ロゴ.png", size: "300x300"
            .food_type きんぎょ
            %span 鍋が美味しい
            
          %li.bx-clone
            = image_tag "02-heavy-paper.png", size: "300x300"
          %li.bx-clone
            = image_tag "04-polish-wood.png", size: "300x300"
          %li
            = image_tag "福岡ロゴ.png", size: "300x300"
      -# .bx-controls.bx-has-pager.bx-has-controls-direction
      -#   .bx-pager.bx-default-pager
      -#     .bx-pager-item
      -#       %a.bx-pager-link{"data-slide-index" => "0", :href => ""} 1
      -#     .bx-pager-item
      -#       %a.bx-pager-link{"data-slide-index" => "1", :href => ""} 2
      -#     .bx-pager-item
      -#       %a.bx-pager-link.active{"data-slide-index" => "2", :href => ""} 3
      -#   .bx-controls-direction
      -#     %a.bx-prev{:href => ""} Prev
      -#     %a.bx-next{:href => ""} Next

  .main-footer 
    &copy; 2019 nagase
.main-footer_logo
  = image_tag "福岡ロゴ.png", size: "59x59"

